# Python to Linux Web App on Azure
# Build your Python project and deploy it to Azure as a Linux Web App.
# Change python version to one thats appropriate for your application.
# https://docs.microsoft.com/azure/devops/pipelines/languages/python

trigger:
- main

variables:
  # Azure Resource Manager connection created during pipeline creation
  azureServiceConnectionId: '20858b90-cde6-4fe3-844f-741fda39cf99'

  # Web app name
  webAppName: 'ay-flask-ml-service'

  # Agent VM image name
  vmImageName: 'ubuntu-latest'
  pool: 'mypool'
  # Environment name
  environmentName: 'ay-flask-ml-service'

  # Project root folder. Point to the folder containing manage.py file.
  projectRoot: $(System.DefaultWorkingDirectory)

  # Python version: 3.6
  pythonVersion: '3.7'
  
  

##    pool:
    ##  vmImage: $(vmImageName)


stages:
- stage: Build
  displayName: Build stage
  jobs:
  - job: BuildJob
    pool: 'mypool'
      ##vmImage: $(vmImageName)
    steps:
    - task: UsePythonVersion@0
      displayName: 'Use Python $(pythonVersion)'
      inputs:
        versionSpec: '$(pythonVersion)' 
        addToPath: true 
        architecture: 'x64' # Options: x86, x64 (this argument applies only on Windows agents)
   ## - task: UsePythonVersion@0
    ##  inputs:
      #Run actions/setup-python@v2.2.2
    #    python-version: 3.7
    #    architecture: x64
        
       # versionSpec: '$(pythonVersion)'
      
    - script: |
        python3.7 -m venv antenv
        source antenv/bin/activate
        python3.7 -m pip install --upgrade pip
        python3.7 -m pip install setup
        pip install -r requirements.txt
        
      workingDirectory: $(projectRoot)
      displayName: "Install requirements"

    - task: ArchiveFiles@2
      displayName: 'Archive files'
      inputs:
        rootFolderOrFile: '$(projectRoot)'
        includeRootFolder: false
        archiveType: zip
        archiveFile: $(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip
        replaceExistingArchive: true

    - upload: $(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip
      displayName: 'Upload package'
      artifact: drop

- stage: Deploy
  displayName: 'Deploy Web App'
  dependsOn: Build
  condition: succeeded()
  jobs:
  - deployment: DeploymentJob
    pool: 'mypool'
      ##vmImage: $(vmImageName)
    environment: $(environmentName)
    strategy:
      runOnce:
        deploy:
          steps:

          - task: UsePythonVersion@0
            inputs:
              versionSpec: '$(pythonVersion)'
            displayName: 'Use Python version'

          - task: AzureWebApp@1
            displayName: 'Deploy Azure Web App : ay-flask-ml-service'
            inputs:
              azureSubscription: $(azureServiceConnectionId)
              appName: $(webAppName)
              package: $(Pipeline.Workspace)/drop/$(Build.BuildId).zip
